# My First Notebook
## Basic commands
The below is the hello world programme for python
`print("Hello, world!")`

* Arrows: 			Move around notebook
* m: 			Markdown / text cell
* y: 			Code cell / Python cell
* a: 			Insert cell above
* b: 			Insert cell below
* dd: 			Delete cell
* z: 			Undo delete
* Ctrl + Enter to run.
* Shift + Enter to run and move one cell below.

In [8]:
print("Hello, world!")

Hello, world!

In [5]:
print("Goodbye, world.")

Goodbye, world.

## Python Basics

In [9]:
print("Thomas")

Thomas

In [11]:
print("Hello") # function(data)

Hello

In [12]:
print("Hello", "World")

Hello World

In [36]:
#     ->
# var = data/object
name  = "Thomas"

In [16]:
name

'Thomas Holmes'

In [17]:
print(name)

Thomas Holmes

In [25]:
another_name = "Sian Davies"

In [37]:
print(name, another_name)

Thomas Sian Davies

In [31]:
weather = input("What is the weatehr today? ")

What is the weatehr today?  HOT

In [32]:
print("The weather today is", weather)

The weather today is HOT

In [33]:
first_name = "Thomas"
last_name = "Holmes"

In [34]:
print(first_name, last_name)

Thomas Holmes

In [45]:
age = 21 # int
salary = 20_000.46 # float
company_name = "QA" # str
is_standing = True # bool

In [44]:
type(is_standing)

bool

In [46]:
age + salary

20021.46

In [47]:
age + company_name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
company_name + company_name

'QAQA'

In [49]:
age ** 2

441

In [50]:
age * salary

420009.66

In [53]:
company_name + str(age)

'QA21'